@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<div class = "row">
		<center><h1>THIS IS SUPPOSED TO BE THE CHECKOUT PAGE </h1></center>
	</div>
</div>