<div class="container">
	<div class = "row">
		<center><h1>PAYMENT WAS COMPLETED SUCCESSFULLY!</h1></center>
		<center><h3>YOUR BOOKS WILL BE SHIPPED TO YOUR ADDRESS</h3></center>
		<center><a href = "/" class = "btn btn-default">BROWSE MORE OF OUR BOOKS </a></center>
	</div>
</div>