@using(Html.BeginForm("Index", "Home", FormMethod.Get))
{
	<div class = "row">
	  <div class = "col-md-offset-2 col-md-8">
		<form method = "GET">
		    <div class = "input-group">
				@Html.TextBox("searchTerm", null, new { @class = "form-control", @placeholder = "Search..." })
				<span class = "input-group-btn">
		        	<button class = "btn btn-default" type = "submit">Search</button>
		      	</span>
		    </div>
		</form>
	  </div>
	</div>
}
