@{
    ViewBag.Title = "OutOfStock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<center><h1><i>@(Request.Params["title"])</i> added to your shopping card</h1></center>
	<div class = "row">
		<div class = "col-md-offset-4 col-md-5 col-sm-12">
			<div class = "col-md-6 col-sm-4"><a href = "/" class = "btn btn-info">CONTINUE SHOPPING</a></div>
			<div class = "col-md-6 col-sm-4"><a href = "/Checkout" class = "btn btn-success">CHECKOUT</a></div>
		</div>
	</div>
</div>
