@{
    ViewBag.Title = "OutOfStock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Search")

<div class="container">
	<center><h1>" @(Request.Params["title"]) " added to your shopping card</h1></center>
	<div class = "row">
		<div class = "col-md-offset-4 col-md-5 col-sm-12">
			<div class = "col-md-6 col-sm-4"><a href = "/" class = "btn btn-default">CONTINUE SHOPPING</a></div>
			<div class = "col-md-6 col-sm-4"><a href = "/Checkout" class = "btn btn-default">CHECKOUT</a></div>
		</div>
	</div>
</div>
