@{
    ViewBag.Title = "OutOfStock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<center><h1>THIS BOOK IS OUT OF STOCK </h1></center>
	<center><a href = "/" class = "btn btn-default">GO BACK</a></center>
</div>
