@using System.Linq
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Search")

<div class="container">
	<div class = "row">
		@Html.Partial("_Books")
	</div>
</div>